/*
    Split collection
*/
.split_200 {
    display: block;
    height: 200px;
}

.split_100 {
    display: block;
    height: 100px;
}

.split_50 {
    display: block;
    height: 50px;
}

.split_right { margin-right: 10px; }
.split_left  { margin-left: 10px; }
